<%- include("header") -%>

<style type="text/css">
	/* Add a black background color to the top navigation */
.topnav {
  background-color: #8f6dcc;
  overflow: hidden;
  padding: 2px;
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #A683E3 ;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #7e5bb6;
  color: white;
}
</style>

	<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/work">Work</a>
  <a href="/about">About</a>
</div> 

<h2>My "To do list".</h2>
<p>My name is Sabina Bojadžić. This is an example of a to do list with ejs.</p>

<%- include("footer") -%>